.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: white;
  color: #ef9272;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 999;
  margin-bottom: 2%;
}
.header a {
  text-decoration: none;
  color: #ef9272;
}

.header a:hover {
  color: black;
}

.buttons {
  width: auto;
}
.ico {
  display: flex;
}
.ico img {
  width: 65%;
  margin-left: 15%;
}
